.balance {
  position: relative;
}

.balance > h4 {
  text-transform: uppercase;
}

.balance > span {
  font-size: 2.5rem;
}

.balance__icon-container {
  color: var(--light-gray-1);
  font-size: 10rem;
  position: absolute;
  right: 100px;
  top: -60px;
  z-index: -1;
}
