@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* Custom properties */
:root {
  --red: rgb(210, 120, 120);
  --green: rgb(120, 210, 120);
  --blue: rgb(120, 120, 210);
  --grayish-blue: rgb(120, 120, 180);
  --yellow: rgb(210, 210, 120);
  --dark-gray: rgb(60, 60, 60);
  --gray: rgb(120, 120, 120);
  --light-gray-1: rgb(220, 220, 220);
  --light-gray-2: rgb(230, 230, 230);
  --light-gray-3: rgb(240, 240, 240);
  --light-gray-4: rgb(250, 250, 250);
  --box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(var(--light-gray-4) 60%, var(--light-gray-2));
  color: var(--dark-gray);
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  padding: 150px 0 50px;
}

main {
  margin: 0 auto;
  max-width: 800px;
}

section {
  margin-top: 40px;
}

.border--positive {
  border-left: 8px solid var(--blue);
}

.border--negative {
  border-left: 8px solid var(--red);
}

.text--positive {
  color: var(--blue);
}

.text--negative {
  color: var(--red);
}

.text--alt {
  color: var(--gray);
}

@media screen and (max-width: 768px) {
}
